{{ define "about" }}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="www/css/bootstrap.min.css" rel="stylesheet">
        <script src="www/js/jquery-2.1.0.min.js"></script>
        <link href="www/css/app.css" rel="stylesheet">
        <title>shu.rl - about us</title>
    </head>
    <body>{{ template "header" }}
    <div class="container">
        <main>
            <div class="border-bottom" style="padding-bottom:20px;">
                <h1 id="about-us-h1">About us</h1></div>
            <div class="card-columns">
                <div class="card mx-auto mb-4" style="max-width:400px;padding:10px;box-shadow:grey 0px 2px 10px;">
                    <h1 class="card-header">How it work?</h1>
                    <div class="card-body">
                        <h4 class="card-title">Very easy.</h4>
                        <p class="card-text">Just enter your url in the field and copy the received link.</p><a href="/short" class="btn btn-primary">Start shorting</a></div>
                </div>
                <div class="card text-white bg-primary mx-auto mb-4" style="max-width:400px;padding:10px;box-shadow:grey 0px 2px 10px;">
                    <h1 class="card-header">Why you?</h1>
                    <div class="card-body">
                        <h4 class="card-title">Simple, fast, confidential.</h4>
                        <p class="card-text">Just try it )</p><a href="/short" class="btn btn-default bg-white">Start shorting</a></div>
                </div>
                <div class="card mx-auto mb-4" style="max-width:400px;padding:10px;box-shadow:grey 2px 0px 10px;">
                    <h1 class="card-header">What do you do with my data?</h1>
                    <div class="card-body">
                        <h4 class="card-title">Nothing.</h4>
                        <p class="card-text">We do not collect any user data.</p><a href="/short" class="btn btn-primary">Start shorting</a></div>
                </div>
            </div>
        </main>
    </div>
    </body>
{{ end }}